.listaHotelesAdmin{
  height: 400px;
  overflow: scroll;
}

.listaReservas{
  height: 750px;
  overflow: scroll;
}

@media(max-width:575px){
  .listaHotelesAdmin{
    height: 220px;
  }
}
@media (max-width:768px){
  .listaHoteles{
    height: 400px;
    overflow: scroll;
  }
}

::-webkit-scrollbar{
  display: none;
}